<html>

<head>
    <meta charset="utf-8" />
    <title>Administrador de Tareas</title>
</head>

<body ng-app="appTareas">
    <div>
        <h1>Administrador de Tareas</h1>
    </div>
    <form>
        <h3>Agrega una nueva tarea</h3>
        <div>
            <input type="text" placeholder="Tarea a realizar" ng-model="tarea.nombre"></input>
        </div>
        <div>
            <input type="text" placeholder="Prioridad" ng-model="tarea.prioridad"></input>
        </div>
        <button type="submit">Agregar</button>
    </form>
    <div>
        <h4>Tareas registradas</h4>
        <div>
            <span>+ -</span>
            {{ prioridad }}
            <span>
                <a href="#">{{ tarea.nombre }}</a>
                <a href="#">Editar</a>
                <a href="#">Eliminar</a>
            </span>
        </div>
    </div>
</body>

</html>
